

*,
*::before
*::after{
    box-sizing: border-box;
}

.container{
    width: min(100% - 2rem, 65rem);
    margin-inline: auto;
} 

.nav_container{
    width: min(100% - 2rem, 65rem);
    margin-inline: auto;
}

body{
    font-family: system-ui, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #17212b
}

.site_header{
    padding: 2rem;
    background-color: #edbebe;
    border-bottom: 1px solid black;
}

.site_footer{
    margin-top: 2rem;
    padding-block: 1rem;
    background: #edbebe;
    border-top: 1px solid black;
}



.site_nav{
    align-items: stretch;
    padding:1rem max(1rem,calc((100%-65rem)/2));
    background-color: #672020;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-inline: auto;

}
.site_nav a{
    color: #f4f4f4;
    padding: 0.5rem 0.75rem;
    text-decoration: none;

}
.site_nav a:hover,
.site_nav a:focus-visible,
.site_nav a[aria-current="page"]{
    background-color: #8e3731;
    border-radius: 0.25rem;
    color: #f4f4f4;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    font-weight: bold;
}

@media (min-width: 44rem){
    .site_nav{
        flex-direction: row;
        align-items: center;
    }
}


fieldset{
    margin-block: 1.5rem;
    padding: 1rem;
    border: 1px solid #8e3731;

    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input:not([type=radio]),
select,
textarea{
    width: 100%;
    padding: 0.1rem;
    border: 1px solid #8e3731;
    font: inherit;
    border-radius: 0.25rem;
}


.table-container{
    overflow-x: auto;
}
table {
    width: 100%;
    min-width: 10rem;
    border-collapse: collapse;
    margin-block: 1rem;
}

.card{
    border: 1px solid #8e3731;
    padding: 1rem;
    background-color: #f4f4f4;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16px), 1fr));
}

.education_card, .work_card, .award_card, .skill_card{
    border: 1px solid #8e3731;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-bottom: 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16px), 1fr));
    gap: 1rem;
    
}

.contact_method{
    display: grid;
    gap: 0.75rem;
}
.contact_option > label{
    margin-bottom: 0.25rem;
}
.contact_option input[type="checkbox"]{
    width: auto;
}
.contact_details{
    margin-left: 1.5rem;
}

